{
    "unets": [
        {
            "dim": 128,
            "image_embed_dim": 768,
            "cond_dim": 64,
            "channels": 3,
            "dim_mults": [1, 2, 4, 8],
            "attn_dim_head": 32,
            "attn_heads": 16
        },
        {
            "dim": 32,
            "image_embed_dim": 768,
            "cond_dim": 64,
            "channels": 3,
            "dim_mults": [1, 2, 4, 8, 16],
            "attn_dim_head": 32,
            "attn_heads": 16
        }
    ],
    "decoder": {
        "image_sizes": [64, 128],
        "channels": 3,
        "timesteps": 1000,
        "loss_type": "l2",
        "beta_schedule": "cosine",
        "learned_variance": true
    },
    "data": {
        "webdataset_base_url": "pipe:s3cmd get s3://bucket/path/{}.tar -",
        "embeddings_url": "s3://bucket/embeddings/path/",
        "num_workers": 4,
        "batch_size": 256,
        "start_shard": 0,
        "end_shard": 9999999,
        "shard_width": 6,
        "index_width": 4,
        "splits": {
            "train": 0.75,
            "val": 0.15,
            "test": 0.1
        },
        "shuffle_train": true,
        "resample_train": false,
        "shuffle_val_test": false,
        "preprocessing": {
            "RandomResizedCrop": {
                "size": [128, 128],
                "scale": [0.75, 1.0],
                "ratio": [1.0, 1.0]
            },
            "ToTensor": true
        }
    },
    "train": {
        "epochs": 100,
        "lr": 2e-5,
        "wd": 0.1,
        "max_grad_norm": 0.5,
        "save_every_n_samples": 250000,
        "n_sample_images": 6,
        "device": "cuda:7",
        "epoch_samples": null,
        "validation_samples": null,
        "use_ema": true,
        "amp": false,
        "save_all": false,
        "save_latest": true,
        "save_best": true,
        "base_path": "/absolute/path/to/model/folder"
    },
    "wandb": {
        "entity": "",
        "project": ""
    },
    "resume": {
        "do_resume": false,

        "from_wandb": true,
        "wandb_run_path": "wandb/run/path",
        "wandb_file_path": "latest.pth",
        "wandb_resume": false,
        
        "filepath": ""
    }
}